*{
    padding: 0px;
    margin: 0px;
    /*font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    line-height:150%;*/
    
}

main{
    display: flex;
    background-color: #F3F5FC;
    box-sizing: border-box;
    /*vh es la altura del contenedor*/
    height: 100vh;
}


.normal-textto{
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    line-height:150%;
    background-color: #F3F5FC;
    resize: none;  /*resize: none; sirve para evitar que usuario no pueda graduar el cuadro*/
    border: none;
    border-radius: 2px;
    width: 600px;
    height: 605px;
    position: absolute;/*position: relative; posicionar un elementos n cualquier lugar siin qu este fijo si no se pone esto quedara por defecto static que no deja mover el objeto*/
    top: 188px;
    left: 240px;
}

textarea::placeholder{ /*de esta manera le cambio propiedades a los atributos de una etiqueta en este caso de <textare>*/
    color: #0A3871;
}

.normal-textto:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}



.advertencia-encriptador{
    font-family: "Inter";
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 229px;
    height: 18px;
    position: relative;
    top: 851px;
    left: 240px;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.encrptador-botones{
    position: relative;
    top: 885px;
    left: 240px; 
    display: flex;/*esto nos sirve para convertir el cotenedor en un flex (para comnzar a utilizar sus propiedades flexbox)*/
    flex-direction: row;/*aca le damos la direccion que va ha tomar los elementos que estan dentro de el contenedor*/
    gap: 24px; /*esto funcion no sirve con las 2 anteriores como otras funcione*/
}

.boton-Encriptar{
    background-color: #0A3871;
    color: #FFFFFF;
    border-radius: 24px;
    border-style: solid #0A3871;
    width: 328px;
    height: 67px;
}

.boton-Desencriptar{
    background-color: #D8DFE8;
    color: #0A3871;
    border-radius: 24px;
    border-style: solid #0A3871;
    width: 328px;
    height: 67px;
}

.encriptador-texto-informativo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.boton-copiar{
    background-color: #D8DFE8;
    color: #0A3871;
    border-radius: 24px;
    border-style: solid #0A3871;
    width: 336px;
    height: 67px;
    position: absolute;
    left: 1032px;
    top: 901px;
}


.desencitador-de-texto{
    background-color: #FFFFFF;
    border-radius: 32px;
    resize: none;  
    border: none;/*para borrar el borde qeu tiene por defecto textarea*/
    width: 400px;
    height: 944px;
    position: absolute;
    left: 1000px;
    top: 40px;
    text-transform: lowercase;
    background-image: url(img/Muñeco.png); /*esto es para poner una imagen de fondo */
    background-repeat: no-repeat; /*esto me sirve para no no se repita*/
    background-position: 32px 283px;/*con esto movemos la imagen*/
    
}

.desencitador-de-texto:focus{
    outline: none;/*esto sirve para que todo el texto que se escriba sea minuscula*/
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/*como hay mas de un div toca espesificar de donde biene el textarea
despues biene el textarea el focus y dentro espesificamos el cambio a realizar */
.encriptador-texto-informativo textarea:focus {
    box-shadow: 0 0 5px #0A3871
}
.imagen-letra-A{
    width: 120px;
    height: 48px;
    position: absolute;
    left: 40px;
    top: 40px;
}


