*{
    padding: 0px;
    margin: 0px;
    
}

body{
    background-color: #F3F5FC;
    box-sizing: border-box;
    /*vh es la altura del contenedor*/
    height: 100vh;
}


#normal-textto{
    resize: none;  /*resize: none; sirve para evitar que usuario no pueda graduar el cuadro*/
    border: 2px ;
    width: 577px;
    height: 48px;
    /*position: relative; posicionar un elementos n cualquier lugar siin qu este fijo
    si no se pone esto quedara por defecto static que no deja mover el objeto*/
    position: relative;
    top: 188px;
    left: 240px;
}

textarea::placeholder{ /*de esta manera le cambio propiedades a los atributos de una etiqueta en este caso de <textare>*/
    color: #0A3871;
}

.advertencia-normal-texto{
    width: 229px;
    height: 18px;
    position: relative;
    top: 851px;
    left: 240px;
    
}

.encrptador-botones{
    position: relative;
    top: 885px;
    left: 240px; 
    display: flex;/*esto nos sirve para convertir el cotenedor en un flex (para comnzar a utilizar sus propiedades flexbox)*/
    flex-direction: row;/*aca le damos la direccion que va ha tomar los elementos que estan dentro de el contenedor*/
    gap: 24px; /*esto funcion no sirve con las 2 anteriores como otras funcione*/
}

.boton-Encriptar{
    background-color: #0A3871;
    color: #FFFFFF;
    border-radius: 24px;
    border-style: solid #0A3871;
    width: 328px;
    height: 67px;
}

.boton-Desencriptar{
    background-color: #D8DFE8;
    color: #0A3871;
    border-radius: 24px;
    border-style: solid #0A3871;
    width: 328px;
    height: 67px;
}

.encriptador-texto-informativo{
    display: flex;
    flex-direction: column;
    position: relative;
    
}


.imagen-letra-A{
    width: 120px;
    height: 48px;
    position: absolute;
    left: 40px;
    top: 40px;
}

.imagen-muñeco{
    width: 336px;
    height: 304;
    position: relative;
    left: 1034px;
    top: 283px;
}
